<section class="chartist">
    <!-- <pie-chart></pie-chart> -->
    <div class="row pie-charts" >

        <ba-card *ngFor="let chart of chartPies; let i = index" class="pie-chart-item-container col-xlg-3 col-lg-3 col-md-6 col-sm-12 col-xs-12" (click)="selectInventories();handleClick( $event.target )">

          <div class="pie-chart-item; let index = i" >
            <!-- <div class="chart" [attr.data-rel]="chart.color" data-percent="60">
              <span class="percent"></span>
            </div> -->
            <div class="description">

              <div style="font-size: 16px;  font-weight: bold; margin-left: 85px">{{ chart.description }}</div>
              <br>

              <div class="description-stats" style="font-size: 16px;">
                <i class="chart-icon i-{{ chart.icon }}" [style.backgroundColor]="'#FF5719'" style="font-size: 12px;margin-top: -60px;"></i>
                {{ (i === 3)  ? (chart.stats | number:'1.2-2') : (chart.stats | number:'1.0-0') }}</div>
            </div>

          </div>

        </ba-card>
      </div>
  </section>

<div class="widgets">
    <!-- <button type="button" style="background-color: rgb(255, 170, 135); color: black;" class="btn btn-outline-dark blink">Reconcilieri propuse</button>
         <button type="button" style="background-color: rgb(34, 179, 154); color: black;" class="btn btn-outline-dark blink">Reconcilieri aprobate</button>
         <button type="button" style="background-color: rgb(240,230,140); color: black;" class="btn btn-outline-dark blink">Etichete printate</button> -->
    <div class="row">
    <div class="col-lg-12 col-md-12">
      <ba-card title="VALIDATE INVENTORY LIST 2023" baCardClass="with-scroll table-panel"
         (buttonClicked)="onToolbarButtonClicked()">

    <br>
    <div class="row">
        <h6>INSTRUCTIONS:</h6>
        <br>
        <p style="color: black;">i)	   To confirm an asset, press the button  <label class="switch"><input type="checkbox"><span class="slider round"></span></label> in the first column  <strong style="color: black; font-weight: bold;">“Individual confirmation”.</strong></p>
        <p style="color: black;">ii)   If you have a laptop that is not listed (or the list is empty), press   <button type="button" class="btn btn-outline-success btn-sm" (click)="selectAsset()" style="background: rgb(0, 176, 80); color: white;"><i class="fa fa-plus"></i>&nbsp;Add RO</button>
            and search by the “RO” code (you will find it on the label from your laptop) and add the New Asset.
            <!-- <button type="button" class="btn btn-outline-success btn-sm" *ngIf="assetInvFullDetailList.selectedItems.length > 0" (click)="clearSelectedAsset()" style="background: red; color: white;"><i class="fa fa-minus"></i></button> -->
        </p>
        <p style="color: black;">iii)  If one of the assets listed below is not in your possession, do not confirm it and complete the field <strong style="color: black; font-weight: bold;">“not confirming reason”  </strong> with details (ex. You did not receive the specified asset, you had it temporarily allocated but you returned it, it was replaced by a new one, etc). </p>
        <p style="color: black"> iv)   if you have received a pair of wireless headphones please confirm it by clicking the Yes/No from dropdown list. </p>
        <p style="color: black"> v)   To complete the validation, press   <strong style="color: darkgreen; font-weight: bold;">“Send confirmation and comments” button</strong> button. </p>
        <p style="color: black"> Note: if you are not able to see the list, please press  <strong style="color:  rgb(255, 107, 41); font-weight: bold;">„Reload”</strong> button. </p>
        <!-- <p style="color: black"> iv)   Pentru exportul datelor din ecran, apasati butonul <button type="button" class="btn btn-outline-success btn-sm" (click)="showInventoryList()" style="background: rgb(0, 176, 80); color: white;"><i class="fa fa-file-excel-o"></i>&nbsp;Export</button>  </p> -->
    </div>
    <div class="row" [collapse]="!showFilters">
            <div class="col-sm-12">
                <div class="ui-toolbar-group-left">
                  <div class="text-left">
                                <!-- <div class="btn-group flex-dropdown" dropdown>
                                    <button type="button" class="btn btn-outline-dark btn-sm" (click)="selectAdmCenters('FIN')">Zone</button>
                                    <button type="button" class="btn btn-outline-dark btn-sm" dropdownToggle addToggleClass="true">
                                      <span class="sr-only">Toggle Dropdown</span>
                                      <span class="badge" style="position:absolute; top:-10px; left:3px; background:transparent; color:red; font-size:20px;">{{selectedAdmCentersFin.length> 0 ? selectedAdmCentersFin.length : ''}}</span>
                                    </button>
                                    <ul class="dropdown-menu" dropdownMenu>
                                      <li class="dropdown-item"><a (click)="clearAdmCenterSelection('FIN')">{{'DELETE ALL_F' | translate}}<i class="fa fa-times"></i></a></li>
                                      <li *ngFor="let admCenter of selectedAdmCentersFin" class="dropdown-item"><a (click)="removeFromAdmCenterSelection('FIN', admCenter)">{{ admCenter.name }} <i class="fa fa-times"></i></a></li>
                                    </ul>
                                  </div> -->

                                  <!-- <div class="btn-group flex-dropdown" dropdown [style.backgroundColor] = "'rgb(255, 255, 255)'">
                                    <button type="button" class="btn btn-outline-dark btn-sm" (click)="selectCounties('FIN')" >Judete</button>
                                    <button type="button" class="btn btn-outline-dark btn-sm" dropdownToggle addToggleClass="true" >
                                      <span class="sr-only">Toggle Dropdown</span>
                                      <span class="badge badge-important" style="position:absolute; top:-10px; left:3px; background:transparent; color:red; font-size:20px;">{{selectedCountiesFin.length > 0 ? selectedCountiesFin.length : ''}}</span>
                                    </button>
                                    <ul class="dropdown-menu" dropdownMenu>
                                      <li class="dropdown-item"><a (click)="clearCountySelection('FIN')">Sterge toate <i class="fa fa-times"></i></a></li>
                                      <li *ngFor="let county of selectedCountiesFin" class="dropdown-item"><a (click)="removeFromCountySelection('FIN', county)">{{ county.name }} <i class="fa fa-times"></i></a></li>
                                    </ul>
                                 </div> -->

                                 <!-- <div class="btn-group flex-dropdown" dropdown [style.backgroundColor] = "'rgb(255, 255, 255)'">
                                    <button type="button" class="btn btn-outline-dark btn-sm" (click)="selectCities('FIN')" >Orase</button>
                                    <button type="button" class="btn btn-outline-dark btn-sm" dropdownToggle addToggleClass="true" >
                                      <span class="sr-only">Toggle Dropdown</span>
                                      <span class="badge badge-important" style="position:absolute; top:-10px; left:3px; background:transparent; color:red; font-size:20px;">{{selectedCitiesFin.length > 0 ? selectedCitiesFin.length : ''}}</span>
                                    </button>
                                    <ul class="dropdown-menu" dropdownMenu>
                                      <li class="dropdown-item"><a (click)="clearCitySelection('FIN')">Sterge toate <i class="fa fa-times"></i></a></li>
                                      <li *ngFor="let city of selectedCitiesFin" class="dropdown-item"><a (click)="removeFromCitySelection('FIN', city)">{{ city.name }} <i class="fa fa-times"></i></a></li>
                                    </ul>
                                 </div> -->

                                <!-- <div class="btn-group flex-dropdown" dropdown>
                                        <button type="button" class="btn btn-outline-dark btn-sm" (click)="selectLocations('FIN')">Locatii</button>
                                        <button type="button" class="btn btn-outline-dark btn-sm" dropdownToggle addToggleClass="true">
                                          <span class="sr-only">Toggle Dropdown</span>
                                          <span class="badge" style="position:absolute; top:-10px; left:3px; background:transparent; color:red; font-size:20px;">{{selectedLocationsFin.length> 0 ? selectedLocationsFin.length : ''}}</span>
                                        </button>
                                        <ul class="dropdown-menu" dropdownMenu>
                                          <li class="dropdown-item"><a (click)="clearLocationSelection('FIN')">{{'DELETE ALL_F' | translate}}<i class="fa fa-times"></i></a></li>
                                          <li *ngFor="let location of selectedLocationsFin" class="dropdown-item"><a (click)="removeFromLocationSelection('FIN', location)">{{ location.name }} <i class="fa fa-times"></i></a></li>
                                        </ul>
                                      </div> -->

                                <!-- <div class="btn-group flex-dropdown" dropdown *ngIf="useEmployee">
                                  <button type="button" class="btn btn-outline-dark btn-sm" (click)="selectEmployees('FIN')">Angajati</button>
                                  <button type="button" class="btn btn-outline-dark btn-sm" dropdownToggle addToggleClass="true">
                                    <span class="sr-only">Toggle Dropdown</span>
                                    <span class="badge" style="position:absolute; top:-10px; left:3px; background:transparent; color:red; font-size:20px;">{{selectedEmployeesFin.length> 0 ? selectedEmployeesFin.length : ''}}</span>
                                  </button>
                                  <ul class="dropdown-menu" dropdownMenu>
                                    <li class="dropdown-item"><a (click)="clearEmployeeSelection('FIN')">{{'DELETE ALL_M' |translate}} <i class="fa fa-times"></i></a></li>
                                    <li *ngFor="let employee of selectedEmployeesFin" class="dropdown-item"><a (click)="removeFromEmployeeSelection('FIN', employee)">{{ employee.firstName }}, {{ employee.lastName }} <i class="fa fa-times"></i></a></li>
                                  </ul>
                                </div> -->

                                    <!-- <div class="btn-group flex-dropdown" dropdown>
                                        <button type="button" class="btn btn-dark btn-sm" (click)="selectInvStates('FIN')">Stari</button>
                                        <button type="button" class="btn btn-dark btn-sm" dropdownToggle addToggleClass="true">
                                            <span class="sr-only">Toggle Dropdown</span>
                                            <span class="badge" style="position:absolute; top:-10px; left:3px; background:transparent; color:red; font-size:20px;">{{selectedInvStatesFin.length> 0 ? selectedInvStatesFin.length : ''}}</span>
                                        </button>
                                        <ul class="dropdown-menu" dropdownMenu>
                                            <li class="dropdown-item"><a (click)="clearInvStateSelection('FIN')">Sterge toate <i class="fa fa-times"></i></a></li>
                                            <li *ngFor="let invState of selectedInvStatesFin" class="dropdown-item"><a (click)="removeFromInvStateSelection('FIN', invState)">{{ invState.name }} <i class="fa fa-times"></i></a></li>
                                        </ul>
                                    </div> -->
                  </div>
                </div>


                <!-- <button type="button" class="btn btn-outline-danger btn-sm" (click)="clearFilters()"><i class="fa fa-filter"></i>&nbsp;Stergere filtre</button> -->
                <!-- <div class="col-lg-1">
                    <input type="text" class="form-control with-danger-addon" placeholder="Cautare" [(ngModel)]="filter" (change)="checkForRefresh()" />
                 </div> -->
            </div>
        </div>

        <br>
        <br>
        <div class="row">
          <hr style="height:1px;color:#341E16;background-color:#341E16;">
  </div>

      <!-- <div class="col-md-2">
          <div class="form-group">
              <h6 style="color:#ff895e; font-size: 12px;">Nr. factura</h6>
              <input type="text" class="form-control" placeholder="" maxlength="30"
                  [(ngModel)]="asset.docNo1" name="docNo1" #docNo1="ngModel">
          </div>
      </div> -->
      <div class="col-md-8">
          <div class="form-group">
              <div class="row">
                  <div class="col-sm-8">
                      <h6 style="color: blueviolet; font-size: 14px">Did you receive a pair of wireless headphones from SG GSC Romania?(Select an option below)</h6>
                  </div>
                  <div class="col-sm-4">
                    <h6 style="color: blueviolet; font-size: 14px">{{ employee != null ? (employee.firstName + ' ' + employee.lastName + '  | ' + employee.internalCode) : '' }}</h6>
                </div>
              </div>
              <div class="row">
                  <div class="col-sm-12">
                    <div class="btn-group" dropdown keyboardNav="true">
                      <button id="simple-btn-keyboard-nav" type="button" class="btn btn-primary btn-sm" dropdownToggle style="background: blueviolet; color: white;">
                          {{ ((headPhones == undefined || headPhones  == '-') ? '-' : (headPhones === 'YES' ? 'YES' : 'NO')) }} <span class="caret"></span>
                      </button>
                      &nbsp;&nbsp;
                      <button [disabled]="headPhones === '-'" type="button" class="btn btn-dark btn-sm" (click)="updateEmployees()" style="background: darkgreen; color: white;margin-left: 10px;"><i class="fa fa-check-circle"></i> &nbsp;Update</button>
                      <!-- <input type="text" class="form-control" aria-label="Text input with segmented dropdown button"> -->
                      <ul class="dropdown-menu" role="menu" aria-labelledby="simple-btn-keyboard-nav" style="background: blueviolet; color: white;">
                        <li role="menuitem" (click)="onHeadPhoneUpdate('-')">
                          <a class="dropdown-item"> - </a>
                      </li>
                        <li role="menuitem" (click)="onHeadPhoneUpdate('YES')">
                              <a class="dropdown-item"> YES </a>
                          </li>
                          <li role="menuitem" (click)="onHeadPhoneUpdate('NO')">
                              <a class="dropdown-item"> NO </a>
                          </li>
                      </ul>
                  </div>
                      <!-- <h6 *ngIf="asset.validated">{{ documentType != null ? documentType.name : "-" }}</h6> -->
                  </div>
              </div>
          </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
            <h6 style="color: blueviolet; font-size: 12px">Observatii</h6>
            <input type="text" class="form-control" placeholder="" maxlength="100"
                [(ngModel)]="headInfo" name="headInfo">
        </div>
      </div>

        <!-- <div class="input-group mb-3">
          <div class="input-group-prepend">
            <button type="button" class="btn btn-outline-secondary">Action</button>
            <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <div role="separator" class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Separated link</a>
            </div>
          </div>
          <input type="text" class="form-control" aria-label="Text input with segmented dropdown button">
        </div> -->

        <br>
        <br>
        <br>
        <br>
        <div class="row">
          <hr style="height:1px;color:#341E16;background-color:#341E16;">
      </div>
        <div class="row">
            <div class="col-sm-12">
              <asset-employee-validate-list #assetInvFullDetailList id="assetInvFullDetailList"
                  [dataSource]="assetHttpService"
                  dynamicQuery="true"
                  detailType="employeevalidate"
                  sortColumn="asset.name"
                  sortDirection="asc"
                  usePaging="true"
                  showSimpleSearch="false"
                  rowSelection="multiple"
                  pageSize="10"
                  loadOnInit="true"
                  (selectionChanged)="onAssetInvFullDetailSelectionChanged($event)"
                  (listAtferViewInit)="onAssetEmployeeValidateListAfterViewInit()"
                  notifyOnChange="true">
              </asset-employee-validate-list>
            </div>
        </div>
        <button type="button" class="btn btn-outline-success btn-sm" (click)="saveValidated()" style="background: darkgreen; color: white;"><i class="fa fa-check-circle"></i>&nbsp;Send confirmation and comments</button>
        <button type="button" class="btn btn-outline-danger btn-sm" (click)="clearFilters()" style="background: rgb(255, 107, 41); color: white;"><i class="fa fa-refresh"></i>&nbsp;Reload</button>
        <!-- <button type="button" class="btn btn-outline-success btn-sm" (click)="saveValidatedAll()" style="background-color: chocolate; color: white;"><i class="fa fa-check-circle"></i>&nbsp;Confirmare intreaga lista</button> -->
<!--
        <div class="col-sm-4">
            <span style="font-size: 20px;">Adauga RO: {{ selectedAsset != null ? selectedAsset.invNo : "-" }}</span>
        </div>
        <div class="col-sm-2">

        </div> -->
        <!-- <button type="button" class="btn btn-outline-primary btn-sm" (click)="selectAsset()"><i class="fa fa-search"></i></button>
        <button type="button" class="btn btn-outline-danger btn-sm" (click)="unselectAsset()" [disabled]="!selectedAsset"><i class="fa fa-close"></i></button> -->
      </ba-card>
    </div>
  </div>
</div>


<div class="modal fade" bsModal #inventoryListModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Inventare</h4>
            </div>
            <div class="modal-body">
                <inventory-list #inventoryList id="inventoryList"
                    [dataSource]="inventoryHttpService"
                    rowSelection="single"
                    notifyOnChange="false"
                    pageSize="10"
                    usePaging="true">
                </inventory-list>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success btn-sm" (click)="setSelectedInventory()">Select</button>
                <button type="button" class="btn btn-outline-primary btn-sm" (click)="inventoryListModal.hide()">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" bsModal #confirmationModal="bs-modal" [config]="{backdrop: 'static'}"
    tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" aria-label="Close" (click)="onConfirmationCanceled()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Confirmare</h4>
      </div>
      <div class="modal-body">
            {{ confirmationMessage }}
            <br>
          </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-success btn-sm" (click)="onConfirmationApproved()"><i class="fa fa-check"></i> Da</button>
        <button type="button" class="btn btn-primary btn-sm" (click)="onConfirmationCanceled()"><i class="fa fa-close"></i> Nu</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" bsModal #employeeListModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Angajati</h4>
            </div>
            <div class="modal-body">
                <employee-list #employeeList id="employeeList"
                    [dataSource]="employeeHttpService"
                    rowSelection="multiple"
                    notifyOnChange="false"
                    pageSize="10"
                    usePaging="true">
                </employee-list>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success btn-sm" (click)="setSelectedEmployees()">Select</button>
                <button type="button" class="btn btn-outline-primary btn-sm" (click)="employeeListModal.hide()">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" bsModal #admCenterListModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Zone</h4>
            </div>
            <div class="modal-body">
                <adm-center-list #admCenterList id="admCenterList"
                    [dataSource]="admCenterHttpService"
                    rowSelection="multiple"
                    notifyOnChange="false"
                    pageSize="10"
                    usePaging="true">
                </adm-center-list>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success btn-sm" (click)="setSelectedAdmCenters()">{{'SELECT'  |translate}}</button>
                <button type="button" class="btn btn-outline-primary btn-sm" (click)="admCenterListModal.hide()">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" bsModal #locationListModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Locatii</h4>
            </div>
            <div class="modal-body">
                <location-list #locationList id="locationList"
                    [dataSource]="locationHttpService"
                    dynamicQuery="true"
                    rowSelection="multiple"
                    notifyOnChange="false"
                    pageSize="10"
                    usePaging="true">
                </location-list>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success btn-sm" (click)="setSelectedLocations()">Select</button>
                <button type="button" class="btn btn-outline-primary btn-sm" (click)="locationListModal.hide()">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" bsModal #divisionListModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Employee</h4>
            </div>
            <div class="modal-body">
                <division-list #divisionList id="divisionList"
                    [dataSource]="divisionHttpService"
                    dynamicQuery="true"
                    rowSelection="multiple"
                    notifyOnChange="false"
                    pageSize="10"
                    usePaging="true">
                </division-list>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success btn-sm" (click)="setSelectedDivisions()">Select</button>
                <button type="button" class="btn btn-outline-primary btn-sm" (click)="divisionListModal.hide()">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" bsModal #roomListModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Idle Group</h4>
            </div>
            <div class="modal-body">
                <room-list #roomList id="roomList"
                    [dataSource]="roomDetailHttpService"
                    dynamicQuery="true"
                    rowSelection="multiple"
                    notifyOnChange="false"
                    pageSize="10"
                    usePaging="true">
                </room-list>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success btn-sm" (click)="setSelectedRooms()">Select</button>
                <button type="button" class="btn btn-outline-primary btn-sm" (click)="roomListModal.hide()">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" bsModal #administrationListModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Gestiuni</h4>
            </div>
            <div class="modal-body">
                <administration-list #administrationList id="administrationList"
                    [dataSource]="administrationDetailHttpService"
                    dynamicQuery="true"
                    rowSelection="multiple"
                    notifyOnChange="false"
                    pageSize="10"
                    usePaging="true">
                </administration-list>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success btn-sm" (click)="setSelectedAdministrations()">Select</button>
                <button type="button" class="btn btn-outline-primary btn-sm" (click)="administrationListModal.hide()">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" bsModal #assetTypeListModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Tipuri</h4>
            </div>
            <div class="modal-body">
                <asset-type-list #assetTypeList id="assetTypeList"
                    [dataSource]="assetTypeHttpService"
                    dynamicQuery="true"
                    rowSelection="multiple"
                    pageSize="10"
                    notifyOnChange="false"
                    usePaging="true">
                </asset-type-list>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success btn-sm" (click)="setSelectedAssetTypes()">Select</button>
                <button type="button" class="btn btn-outline-primary btn-sm" (click)="assetTypeListModal.hide()">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" bsModal #assetCategoryListModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Categorii</h4>
            </div>
            <div class="modal-body">
                <asset-category-list #assetCategoryList id="assetCategoryList"
                    [dataSource]="assetCategoryHttpService"
                    dynamicQuery="true"
                    rowSelection="multiple"
                    pageSize="10"
                    notifyOnChange="false"
                    usePaging="true">
                </asset-category-list>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success btn-sm" (click)="setSelectedAssetCategories()">Select</button>
                <button type="button" class="btn btn-outline-primary btn-sm" (click)="assetCategoryListModal.hide()">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" bsModal #regionListModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Asset</h4>
            </div>
            <div class="modal-body">
                <region-list #regionList id="regionList"
                    [dataSource]="regionHttpService"
                    rowSelection="multiple"
                    notifyOnChange="false"
                    pageSize="10"
                    usePaging="true">
                </region-list>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success btn-sm" (click)="setSelectedRegions()">Select</button>
                <button type="button" class="btn btn-outline-primary btn-sm" (click)="regionListModal.hide()">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" bsModal #imageListModal="bs-modal" [config]="{backdrop: 'static'}"
tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
   <div class="modal-content">
       <div class="modal-header">
           <h4 class="modal-title pull-left">Poze</h4>
       </div>
       <div class="modal-body">
        <div class="form-group"  *ngFor="let assetImage of assetImages">
            <div class="pull-left control-label">
                <img *ngIf="assetImage.fileContent !== null" [src]="assetImage.fileContent" height="400px" width="400px"/>
                <button type="button" class="btn btn-outline-danger btn-sm" (click)="deletePhoto(assetImage.entityFile.id)">Sterge</button>
            </div>
        </div>
          <div class="clearfix"></div>
       </div>
       <div class="modal-footer">
           <!-- <button type="button" class="btn btn-outline-primary btn-sm" (click)="setSelectedRegions()">Download</button> -->
           <button type="button" class="btn btn-outline-primary btn-sm" (click)="imageListModal.hide()">Close</button>
       </div>
   </div>
</div>
</div>

<div class="modal fade" bsModal #companyListModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">IT / Non IT</h4>
            </div>
            <div class="modal-body">
                <company-list #companyList id="companyList"
                    [dataSource]="companyHttpService"
                    rowSelection="multiple"
                    notifyOnChange="false"
                    pageSize="10"
                    usePaging="true">
                </company-list>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success btn-sm" (click)="setSelectedCompanies()">Select</button>
                <button type="button" class="btn btn-outline-primary btn-sm" (click)="companyListModal.hide()">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" bsModal #countyListModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Judete</h4>
            </div>
            <div class="modal-body">
                <county-list #countyList id="countyList"
                    [dataSource]="countyHttpService"
                    rowSelection="multiple"
                    notifyOnChange="false"
                    usePaging="true">
                </county-list>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success btn-sm" (click)="setSelectedCounties()">Select</button>
                <button type="button" class="btn btn-outline-primary btn-sm" (click)="countyListModal.hide()">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" bsModal #cityListModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Orase</h4>
            </div>
            <div class="modal-body">
                <city-list #cityList id="cityList"
                    [dataSource]="cityHttpService"
                    rowSelection="multiple"
                    notifyOnChange="false"
                    usePaging="true">
                </city-list>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success btn-sm" (click)="setSelectedCities()">Select</button>
                <button type="button" class="btn btn-outline-primary btn-sm" (click)="cityListModal.hide()">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" bsModal #invStateListModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Stari</h4>
            </div>
            <div class="modal-body">
                <inv-state-list #invStateList id="invStateList"
                    [dataSource]="invStateHttpService"
                    dynamicQuery="true"
                    rowSelection="multiple"
                    notifyOnChange="false"
                    usePaging="true">
                </inv-state-list>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary btn-sm" (click)="setSelectedInvStates()">Select</button>
                <button type="button" class="btn btn-outline-danger btn-sm" (click)="invStateListModal.hide()">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" bsModal #assetEntityListModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Add RO</h4>
            </div>
            <div class="modal-body">
                <asset-entity-list #assetEntityList id="assetEntityList"
                    [dataSource]="assetHttpService"
                    detailType="addnewasset"
                    dynamicQuery="true"
                    rowSelection="single"
                    notifyOnChange="false"
                    usePaging="true">
                </asset-entity-list>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success btn-sm" (click)="setSelectedAsset()">Select</button>
                <button type="button" class="btn btn-outline-primary btn-sm" (click)="onAssetListCancel()">Close</button>
            </div>
        </div>
    </div>
</div>

