<div>
    <div class="row" *ngIf="showSimpleSearch === 'true'">
        <div class="ui-toolbar-group-left">
            <!--<label class="col-sm-1 control-label">Cauta</label>-->
            <input type="text" class="form-control with-danger-addon" placeholder="Search..." [(ngModel)]="filter" (change)="applySimpleSearchFilter(filter)" />
        </div>
    </div>

    <div class="row">
        <div class="horizontal-scroll">
            <table class="table table-hover table-bordered" style="white-space: pre;font-family: 'Roboto';" [style.font-size.px]="13">
                <thead [style.backgroundColor] = "'rgb(52, 30, 22)'" [style.color] = "'white'">
                    <tr class="black-muted-bg">
                        <th class="align-left">
                                <button *ngIf="!isAllChecked()" (click)="updateCheckState(true)" class="btn btn-default btn-sm" type="button"><i class="fa fa-check"></i></button>
                                <button *ngIf="isAllChecked()" (click)="updateCheckState(false)" class="btn btn-info btn-sm" type="button"><i class="fa fa-check"></i></button>
                        </th>
                        <th *ngFor="let column of columns" class="align-left">
                            <a (click)="applySort(((column.include && (column.include.length > 0)) ? column.include + '.' : '') + column.sortBy)">
                                <i *ngIf="sortColumn !== column.sortBy" class="fa fa-sort"></i>
                                <i *ngIf="((sortColumn === column.sortBy) && (sortDirection === 'asc'))" class="fa fa-sort-asc"></i>
                                <i *ngIf="((sortColumn === column.sortBy) && (sortDirection === 'desc'))" class="fa fa-sort-desc"></i>
                                <!-- {{ column.headerCode | translate }} -->
                                {{ column.headerCode }}
                            </a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let tableItem of tableItems" (click)="tableItem.selected ? unselectItem(tableItem.item) : selectItem(tableItem.item)">
                        <td><i *ngIf="tableItem.selected" class="fa fa-check"></i></td>
                        <td *ngFor="let column of columns" [style.text-align]="column.textAlign">{{ tableItem.item | fieldByColumnDefinition: column }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="ui-toolbar-group-left">
                <div class="text-left">
                    <pagination *ngIf="usePaging" [totalItems]="totalItems" [(ngModel)]="currentPage" [itemsPerPage]="pageSize" [maxSize]="maxSize" class="pagination-sm"
                                [boundaryLinks]="true" [rotate]="false" (pageChanged)="pageChanged($event)"
                                previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
                </div>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="totals != null">
        <!-- <div class="col-sm-3">
            <h5 class="panel-subtitle">Valoare intrare: {{ totals.valueDepPU | number : '1.2-2' }}</h5>
        </div>
        <div class="col-sm-3">
            <h5 class="panel-subtitle">Valoare inventar: {{ totals.valueInv | number : '1.2-2' }}</h5>
        </div> -->
        <!-- <div class="col-sm-2">
            <h5 class="panel-subtitle">{{'ASSET_VALUE_REMAINING' | translate}}: {{ totals.valueRem | number : '1.2-2' }}</h5>
        </div> -->
        <!-- <div class="col-sm-3">
            <h5 class="panel-subtitle">{{'ASSET_ACCUMULATED_DEPRECATION' | translate}}: {{ (totals.valueDepYTD) | number : '1.2-2' }}</h5>
        </div>
        <div class="col-sm-3">
            <h5 class="panel-subtitle">{{'ASSET_DEPRECATION_MONTH' | translate}}: {{ totals.valueDep | number : '1.2-2' }}</h5>
        </div> -->
        <!-- <div class="col-sm-2">
            <h5 class="panel-subtitle">{{'ASSET_DEPRECATION_YEAR' | translate}}: {{ totals.valueDepYTD | number : '1.2-2' }}</h5>
        </div> -->
        <div class="col-sm-2">
            <h5 class="panel-subtitle"><h3 style="color: #ff895e">Totals: {{ totals.count }}</h3></h5>
        </div>
    </div>

    <br/>

    <div class="row" *ngIf="categoryTotals != null">
        <div class="col-sm-4">
             <h4 class="panel-subtitle" [style.backgroundColor] = "'rgb(255, 255, 255)'"> <h3 style="color: #ff895e">Desk Phone Total: {{ categoryTotals.assetCategoryDeskPhone | number  }}</h3></h4>
         </div>
         <div class="col-sm-4">
            <h4 class="panel-subtitle" [style.backgroundColor] = "'rgb(255, 255, 255)'"> <h3 style="color: #ff895e">Monitor Total: {{ categoryTotals.assetCategoryMonitor | number  }}</h3></h4>
        </div>
        <div class="col-sm-4">
            <h4 class="panel-subtitle" [style.backgroundColor] = "'rgb(255, 255, 255)'"> <h3 style="color: #ff895e">Thin Client Total: {{ categoryTotals.assetCategoryThinClient | number  }}</h3></h4>
        </div>
     </div>

</div>