<div class="auth-main">
  <div class="auth-block" style="background-color: rgb(52,30,22)">
    <h1>Resetare parola</h1>

    <form [formGroup]="form" class="form-horizontal">
      <div class="form-group row" [ngClass]="{'has-error': (!usernameEmail.valid && usernameEmail.touched), 'has-success': (usernameEmail.valid && usernameEmail.touched)}">
        <div class="col-sm-10">
          <input [formControl]="usernameEmail" type="hidden" class="form-control" id="usernameEmail" placeholder="User">
        </div>
      </div>

      <div class="form-group row" [ngClass]="{'has-error': (!tokenEmail.valid && tokenEmail.touched), 'has-success': (tokenEmail.valid && tokenEmail.touched)}">
        <div class="col-sm-10">
          <input [formControl]="tokenEmail" type="hidden" class="form-control" id="tokenEmail" placeholder="Token">
        </div>
      </div>

      <div class="form-group row" [ngClass]="{'has-error': (!password.valid && password.touched), 'has-success': (password.valid && password.touched)}">
        <label for="inputPassword2" class="col-sm-2 control-label" style="color: rgb(255,165,0)">Parola</label>

        <div class="col-sm-10">
          <input [formControl]="password" type="password" class="form-control" id="inputPassword2" placeholder="Parola noua">
        </div>
      </div>

      <div class="form-group row" [ngClass]="{'has-error': (!repeatPassword.valid && repeatPassword.touched), 'has-success': (repeatPassword.valid && repeatPassword.touched)}">
        <label for="inputPasswordReset" class="col-sm-2 control-label" style="color: rgb(255,165,0)">Confirmare</label>

        <div class="col-sm-10">
          <input [formControl]="repeatPassword" type="password" class="form-control" id="inputPasswordReset" placeholder="Confirmare">
          <span *ngIf="!passwords.valid && (password.touched || repeatPassword.touched)" class="help-block sub-little-text" style="color: rgb(255,165,0)">Parolele nu sunt identice.</span>
        </div>
      </div>

      <div *ngIf="errorMessage != ''" class="has-error">
          <small>{{ errorMessage }}</small>
      </div>
      <div *ngIf="errorMessages.length > 0" class="has-error">
          <div *ngFor="let errorMsg of errorMessages">
              <small>{{ errorMsg.description }}</small>
          </div>
      </div>

      <div class="form-group row">
        <div class="offset-sm-2 col-sm-10">
          <button [disabled]="!form.valid" (click)="onChangePassword()" class="btn btn-default btn-auth">Salveaza</button>
        </div>
      </div>
    </form>
  </div>
</div>
